# 01ex_introduction

In [1]:
# 1. The HelloWorld replacement

a1 = []
for number in range(1, 101):
    if number % 3 == 0 and number % 5 == 0:
        print("HelloWorld")
        a1.append("HelloWorld")
    elif number % 3 == 0:
        print("Hello")
        a1.append("Hello")
    elif number % 5 == 0:
        print("World")
        a1.append("World")
    else:
        print(number)
        a1.append(number)

for item in range(len(a1)):
    if a1[item] == 'Hello':
        a1[item] = "python"
    elif a1[item] == 'World':
        a1[item] = "Works"

b = tuple(a1)
for i in range(len(b)):
    print(b[i])

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
1
2
python
4
Works
python
7
8
python
Works
11
python
13
14
HelloWorld
16
17
python
19
Works
python
22
23
python
Works
26
python
28
29
HelloWorld
31
32
python
34
Works
python
37
38
python
Works
41
python
43
44
HelloWorld
46
47
python
49
Works
python
52
53
python
Works
56
python
58
59
HelloWorld
61
62
python
64
Works
python
67
68
python
Works
71
python
73
74
HelloWorld
76
77
python
79
Works
python
82
83
python
Works
86
python
88
89
HelloWorld
91
92
python
94
Works
python
97
98
python
Works

In [2]:
# 2. The swap

def swap_func(x, y):
    x, y = y, x
    return x, y

print(swap_func("Seyedali", "Hosseinishamoushaki"))

('Hosseinishamoushaki', 'Seyedali')

In [4]:
# 3. Computing the distance


import math


def calculate_distance(d1, d2):
    (x1, y1) = d1
    (x2, y2) = d2
    d = math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2)
    print(f"distance between two points: {d}")


calculate_distance((7, 0), (0, 9))

distance between two points: 11.40175425099138

In [5]:
# 4. Counting letters


s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"


def counter(string):
    char_list = []
    count_char = {}

    string = string.lower()

    for i in range(len(string)):    
        if string[i] not in char_list:
            char_list.append(string[i])

        elif string[i] in char_list:
            pass

    for i in range(len(char_list)):
        count_char[char_list[i]] = string.count(string[i])

    return count_char


print(counter(s1))
print(counter(s2))

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 41, 'o': 8, 'g': 19, 'm': 15, 'h': 1, 'n': 19, 's': 7, 'u': 8, 'b': 41, 'f': 19, '1': 11, '0': 7, '.': 19, 'l': 41, 'd': 8, 'v': 19, 'c': 12}
{'t': 2, 'h': 2, 'e': 3, ' ': 8, 'q': 1, 'u': 2, 'i': 1, 'c': 1, 'k': 1, 'b': 8, 'r': 1, 'o': 2, 'w': 4, 'n': 1, 'f': 1, 'x': 8, 'j': 1, 'm': 4, 'p': 1, 's': 8, 'v': 1, 'l': 2, 'a': 1, 'z': 1, 'y': 1, 'd': 8, 'g': 4}

In [6]:
# 5. Isolating the unique


L = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 85, 63, 47, 56, 42, 70, 84, 88, 55, 20,
     54, 8, 56, 51, 79, 81, 57, 37, 91, 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
     45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


def unique_isolator(N):
    tem = []
    for item in N:
        if item not in tem:
            tem.append(item)
    return len(tem), tem


print("Unique number count of the list: " + str(unique_isolator(L)[0]))
print("New list: " + str(unique_isolator(L)[1]))

Unique number count of the list: 54
New list: [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

In [7]:
# 6. Casting


a = input("1st : ")
b = input("2st: ")

try:
    if a.isalpha() and b.isalpha() == 1:
        z = str(a) + str(b)
        print(z)
    else:
        if a.isnumeric() and b.isnumeric() == 1:
            z = int(a) + int(b)
            print(z)
        else:
            z = float(a) + float(b)
            print(z)

except:
    z = "Unacceptable"
    print(z)

1st : 5
2st: a
Unacceptable

In [8]:
# 7. Cubes


# a) for loop

list_a = []
for i in range(0, 11):
    list_a.append(i ** 2)
print(list_a)


# b) list comprehension

list_b = [i ** 2 for i in range(0, 11)]
print(list_b)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# 8. List comprehension


a2 = [(i, j) for i in range(3) for j in range(4)]
print(a2)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [11]:
# 9. Nested list comprehension


Nested_list = [(a, b, c) for a in range(1, 101)
               for b in range(1, 101)
               for c in range(1, 101)
               if a ** 2 + b ** 2 == c ** 2]

print(Nested_list)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (28, 96, 100), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (60, 80, 100), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (80, 60, 100), (84, 13, 85), (84, 35, 91), (96, 28, 100)]

In [12]:
# 11. The Fibonacci sequence


n = 20
fibonacciSeries = [1, 1]
if n > 2:
    for i in range(2, n):
        nextOne = fibonacciSeries[i - 1] + fibonacciSeries[i - 2]
        fibonacciSeries.append(nextOne)

print(fibonacciSeries)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]